.body {
  background-color: #000;
  font-family: Gtwalsheimpro, sans-serif;
}

.navbar-dark {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000;
  font-family: Montserrat, sans-serif;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-dark-brand {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-top: 0px;
  margin-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #999;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
  text-transform: none;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-link-light {
  margin-right: 25px;
  margin-left: 25px;
  padding: 20px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #000;
  direction: ltr;
  font-family: Gtwalsheimpro, sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-transform: capitalize;
  white-space: normal;
}

.nav-link-light:hover {
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.navbar:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.image {
  margin-top: 100px;
}

.heading {
  margin-top: 237px;
  background-color: #000;
  color: #fff;
  font-size: 35px;
}

.heading-2 {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0px;
  color: #fff;
  font-size: 120px;
}

.text-span {
  color: #9c58c0;
}

.link {
  font-family: Gtwalsheimpro, sans-serif;
  color: #fff;
  font-weight: 700;
}

.navlink {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.columns {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  margin-top: 40px;
  padding: 10px 0px;
  border-bottom: 1px solid #9c58c0;
  border-radius: 0px;
  background-color: rgba(56, 152, 236, 0);
  font-size: 12px;
  text-align: left;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: normal;
}

.button.w--current {
  margin-left: 0px;
}

.button.email {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  display: block;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #9c58c0;
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading-3.title {
  margin-top: 220px;
}

.section-2 {
  margin-top: 100px;
}

.heading-4 {
  margin-bottom: 0px;
  color: #fff;
}

.nav-link {
  display: inline-block;
  margin-right: 60px;
  margin-left: 60px;
  padding: 30px 3px 3px;
  border-bottom: 1px solid #9c58c0;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.nav-menu-2 {
  background-color: #000;
}

.heading-5 {
  font-size: 18px;
  text-align: center;
}

.heading-6 {
  color: #9c58c0;
}

.heading-7 {
  color: #9c58c0;
}

.heading-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #9c58c0;
  font-size: 18px;
  text-transform: uppercase;
}

.section-3 {
  margin-top: 150px;
}

.heading-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  text-align: left;
}

.paragraph {
  display: block;
  margin-right: 100px;
  margin-left: 100px;
  color: #999;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.text-span-2 {
  color: #fff;
  font-weight: 700;
}

.text-span-3 {
  font-size: 18px;
  font-weight: 300;
  text-indent: 8px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-2 {
  margin-bottom: 20px;
  color: #999;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: normal;
}

.section-4 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-5 {
  margin-top: 100px;
}

.heading-10 {
  color: #fff;
}

.paragraph-2 {
  color: #999;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 1px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.column-2 {
  margin-top: 80px;
}

.column-3 {
  margin-top: 60px;
}

.column-4 {
  margin-top: 80px;
}

.text-span-4 {
  color: #9c58c0;
}

.text-span-5 {
  color: #9c58c0;
}

.text-span-6 {
  color: #9c58c0;
}

.text-span-7 {
  color: #9c58c0;
}

.text-span-8 {
  color: #9c58c0;
}

.text-span-9 {
  color: #9c58c0;
}

.section-6 {
  margin-top: 100px;
}

.slide {
  margin-right: auto;
  margin-left: 0px;
  background-color: red;
}

.slide-2 {
  width: 100px;
  background-color: #08ff00;
}

.left-arrow {
  margin-left: 580px;
}

.right-arrow {
  margin-right: 580px;
}

.mask {
  width: 500px;
  background-color: #000;
}

.slide-3 {
  padding-bottom: 0px;
  background-color: #000;
}

.slide-4 {
  background-color: #000;
}

.column-5 {
  margin-top: 0px;
}

.column-6 {
  margin-top: -20px;
}

.grid {
  grid-column-gap: 21px;
  grid-row-gap: 32px;
  grid-template-areas: "Area";
  -ms-grid-rows: auto 32px auto 32px auto;
  grid-template-rows: auto auto auto;
}

.shoppello-pics {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-style: none;
  border-width: 2px;
  border-color: #fff;
  border-radius: 5px;
  opacity: 1;
}

.columns-2 {
  margin-bottom: 70px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section-7 {
  margin-top: 150px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .text-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .nav-link-light {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-dark-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #fff;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    overflow: visible;
    margin-top: 0px;
    padding-left: 0px;
    font-size: 16px;
  }

  .nav-link-light:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .navbar:hover {
    background-color: #fff;
  }

  .image {
    margin-top: 43px;
  }

  .heading-2 {
    margin-top: 0px;
    font-size: 70px;
  }

  .button {
    margin-top: 20px;
  }

  .heading-3.title {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .paragraph {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .shoppello-pics {
    overflow: visible;
  }

  .div-block-3 {
    overflow: hidden;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .column-7 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .column-8 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns-3 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .columns-4 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .columns-5 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container-3 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@font-face {
  font-family: 'Gtwalsheimpro';
  src: url('../fonts/GTWalsheimPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gtwalsheimpro';
  src: url('../fonts/GTWalsheimPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gtwalsheimpro';
  src: url('../fonts/GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}